//CORE COLORS

$curious-blue:    #3498DB;
$kelp:            #3E4039;
$jungle-green:    #27AE60;
$spindle:         #C1DAEE;
$candlelight:     #FFD219;
$valencia:        #D73232;


//CORE COLORS GRAYSCALE

$black:           #000000;
$mine-shaft:      #333333;
$tundora:         #4d4d4d;
$dove-gray:       #666666;
$solid-gray:      #808080;
$dusty-gray:      #999999;
$silver-chalice:  #B2B2B2;
$silver:          #CCCCCC;
$mercury:         #E5E5E5;
$concrete:        #F2F2F2;
$white:           #FFFFFF;

//COMPONENT COLORS

$primary:         $curious-blue;
$secondary:       $kelp;
$success:         $jungle-green;
$info:            $spindle;
$warning:         $candlelight;
$danger:          $valencia;
$border-color:    $silver;
