$base-font-size:        1em;
$base-line-height:      1.5;
$base-h1:               2em;
$base-h2:               1.5em;
$base-h3:               1.17em;
$base-h4:               1.12em;
$base-h5:               0.83em;
$base-h6:               0.75em;
