<ul class="sg-colors" id="brand-colors">
	<li>
		<span class="sg-swatch" style="background: #3498DB;"></span>
		<span class="sg-label">$primary<br />#3498DB</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3E4039;"></span>
		<span class="sg-label">$secondary<br />#3E4039</span>
	</li>
</ul>
