<ul class="sg-colors" id="neutral-colors">
	<li class="annotation-black">
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">$black<br />#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">$mine-shaft<br />#333333</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #4d4d4d;"></span>
		<span class="sg-label">$tundora<br />#4d4d4d</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">$dove-gray<br />#666666</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">$solid-gray<br />#808080</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">$dusty-gray<br />#808080</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #B2B2B2;"></span>
		<span class="sg-label">$silver-chalice<br />#B2B2B2</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #CCCCCC;"></span>
		<span class="sg-label">$silver<br />#CCCCCC</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #E5E5E5;"></span>
		<span class="sg-label">$mercury<br />#E5E5E5</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #F2F2F2;"></span>
		<span class="sg-label">$concrete<br />#F2F2F2</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #FFFFFF"></span>
		<span class="sg-label">$white<br />#FFFFFF</span>
	</li>
</ul>
