<ul class="sg-card">
  <li>
    <span class="sg-display"><i class="icon-home"></i></span>
    <span class="sg-label">.icon-home</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home2"></i></span>
    <span class="sg-label">.icon-home2</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home3"></i></span>
    <span class="sg-label">.icon-home3</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home4"></i></span>
    <span class="sg-label">.icon-home4</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home5"></i></span>
    <span class="sg-label">.icon-home5</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home6"></i></span>
    <span class="sg-label">.icon-home6</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home7"></i></span>
    <span class="sg-label">.icon-home7</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home8"></i></span>
    <span class="sg-label">.icon-home8</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-home9"></i></span>
    <span class="sg-label">.icon-home9</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-office"></i></span>
    <span class="sg-label">.icon-office</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-city"></i></span>
    <span class="sg-label">.icon-city</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-newspaper"></i></span>
    <span class="sg-label">.icon-newspaper</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-magazine"></i></span>
    <span class="sg-label">.icon-magazine</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-design"></i></span>
    <span class="sg-label">.icon-design</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil"></i></span>
    <span class="sg-label">.icon-pencil</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil2"></i></span>
    <span class="sg-label">.icon-pencil2</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil3"></i></span>
    <span class="sg-label">.icon-pencil3</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil4"></i></span>
    <span class="sg-label">.icon-pencil4</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil5"></i></span>
    <span class="sg-label">.icon-pencil5</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil6"></i></span>
    <span class="sg-label">.icon-pencil</span>
  </li>
  <li>
    <span class="sg-display"><i class="icon-pencil7"></i></span>
    <span class="sg-label">.icon-pencil</span>
  </li>
</ul>
