.btn {
  border-width: 1px;
  border-style: solid;
  padding: 0.750em 1em;
  min-width: 120px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  //box-shadow: 0 3px 0px -1px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  color: $white;
  transition: all linear $transition-speed;
}

.btn.primary {
  background-color: $primary;
  box-shadow: 0 1px 3px darken($primary, 25%);
  border-color: darken($primary, 35%);
  &:hover {
    background-color: lighten($primary, 10%);
  }
}

.btn.secondary {
  background-color: $secondary;
  box-shadow: 0 1px 3px darken($secondary, 25%);
  border-color: darken($secondary, 15%);
  &:hover {
    background-color: lighten($secondary, 10%);
  }
}
