<div class="select-wrapper">
  <select>
    <option>One</option>
    <option>Two</option>
    <option>Three</option>
    <option>Four</option>
  </select>
  <svg class="select-icon" xmlns="http://www.w3.org/2000/svg" pointer-events="none">
      <text x="22" y="26" fill="white">&#x25bc;</text>
  </svg>
</div>
